<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
  <div class="card bg-light pt-4 pl-4" >


<div id="<%= dom_id booking %>">
  <p>
    <strong>Имя:</strong>
    <%= booking.first_name %>
  </p>

  <p>
    <strong>Фамилия:</strong>
    <%= booking.last_name %>
  </p>

  <p>
    <strong>Электронная почта:</strong>
    <%= current_user.email %>
  </p>

  <p>
    <strong>Номер телефона:</strong>
    <%= booking.phone %>
  </p>

  <p>
    <strong>Номер:</strong>
    <%= booking.room_id %>
  </p>
  <p>
    <strong>Дата брони:</strong>
     <%= booking.start_date %> -
    <%= booking.end_date %> 
   

  </p>
</div>
</div>
</div>
<br>
