<div id="<%= dom_id history %>">
  <p>
    <strong>First name:</strong>
    <%= history.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= history.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= history.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= history.phone %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= history.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= history.end_date %>
  </p>

  <p>
    <strong>Nomer:</strong>
    <%= history.nomer %>
  </p>

</div>
